In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
import matplotlib.pyplot as plt

In [4]:
df1 = pd.read_csv("electronic-card-transactions-april-2021-csv-tables-lower-level.csv")
print(df1)

     Series_reference   Period  Data_value Suppressed STATUS    UNITS  \
0       ECTM.S1AG1210  2007.01       887.3        NaN      F  Dollars
1       ECTM.S1AG1210  2007.02       843.9        NaN      F  Dollars
2       ECTM.S1AG1210  2007.03       925.1        NaN      F  Dollars
3       ECTM.S1AG1210  2007.04       880.0        NaN      F  Dollars
4       ECTM.S1AG1210  2007.05       905.1        NaN      F  Dollars
...               ...      ...         ...        ...    ...      ...
5453    ECTQ.S1SQQ112  2020.03         NaN          Y      C  Dollars
5454    ECTQ.S1SQQ112  2020.06         NaN          Y      C  Dollars
5455    ECTQ.S1SQQ112  2020.09         NaN          Y      C  Dollars
5456    ECTQ.S1SQQ112  2020.12         NaN          Y      C  Dollars
5457    ECTQ.S1SQQ112  2021.03         NaN          Y      C  Dollars

      Magnitude                                        Subject  \
0             6  Electronic Card Transactions (ANZSIC06) - ECT
1             6  Electronic Card Transactions (ANZSIC06) - ECT
2             6  Electronic Card Transactions (ANZSIC06) - ECT
3             6  Electronic Card Transactions (ANZSIC06) - ECT
4             6  Electronic Card Transactions (ANZSIC06) - ECT
...         ...                                            ...
5453          6  Electronic Card Transactions (ANZSIC06) - ECT
5454          6  Electronic Card Transactions (ANZSIC06) - ECT
5455          6  Electronic Card Transactions (ANZSIC06) - ECT
5456          6  Electronic Card Transactions (ANZSIC06) - ECT
5457          6  Electronic Card Transactions (ANZSIC06) - ECT

                                                  Group       Series_title_1  \
0     Private - Values - Electronic card transaction...               Actual
1     Private - Values - Electronic card transaction...               Actual
2     Private - Values - Electronic card transaction...               Actual
3     Private - Values - Electronic card transaction...               Actual
4     Private - Values - Electronic card transaction...               Actual
...                                                 ...                  ...
5453  Private - Values - Electronic card transaction...  Seasonally adjusted
5454  Private - Values - Electronic card transaction...  Seasonally adjusted
5455  Private - Values - Electronic card transaction...  Seasonally adjusted
5456  Private - Values - Electronic card transaction...  Seasonally adjusted
5457  Private - Values - Electronic card transaction...  Seasonally adjusted

                              Series_title_2  Series_title_3  Series_title_4  \
0             Supermarket and grocery stores             NaN             NaN
1             Supermarket and grocery stores             NaN             NaN
2             Supermarket and grocery stores             NaN             NaN
3             Supermarket and grocery stores             NaN             NaN
4             Supermarket and grocery stores             NaN             NaN
...                                      ...             ...             ...
5453  Medical and Other Health Care Services             NaN             NaN
5454  Medical and Other Health Care Services             NaN             NaN
5455  Medical and Other Health Care Services             NaN             NaN
5456  Medical and Other Health Care Services             NaN             NaN
5457  Medical and Other Health Care Services             NaN             NaN

      Series_title_5
0                NaN
1                NaN
2                NaN
3                NaN
4                NaN
...              ...
5453             NaN
5454             NaN
5455             NaN
5456             NaN
5457             NaN

[5458 rows x 14 columns]

In [5]:
df1.describe()

,Period,Data_value,Magnitude,Series_title_3,Series_title_4,Series_title_5
count,5458.000000,2746.000000,5458.0,0.0,0.0,0.0
mean,2013.777069,490.043081,6.0,NaN,NaN,NaN
std,4.109844,692.113397,0.0,NaN,NaN,NaN
min,2007.010000,-1.400000,6.0,NaN,NaN,NaN
25%,2010.090000,136.700000,6.0,NaN,NaN,NaN
50%,2014.030000,233.050000,6.0,NaN,NaN,NaN
75%,2017.100000,525.425000,6.0,NaN,NaN,NaN
max,2021.040000,5922.900000,6.0,NaN,NaN,NaN

In [6]:
df2 = pd.read_csv("electronic-card-transactions-april-2021-csv-tables-lower-level.csv",header = None)
print(df2)

                    0        1           2           3       4        5   \
0     Series_reference   Period  Data_value  Suppressed  STATUS    UNITS
1        ECTM.S1AG1210  2007.01       887.3         NaN       F  Dollars
2        ECTM.S1AG1210  2007.02       843.9         NaN       F  Dollars
3        ECTM.S1AG1210  2007.03       925.1         NaN       F  Dollars
4        ECTM.S1AG1210  2007.04         880         NaN       F  Dollars
...                ...      ...         ...         ...     ...      ...
5454     ECTQ.S1SQQ112  2020.03         NaN           Y       C  Dollars
5455     ECTQ.S1SQQ112  2020.06         NaN           Y       C  Dollars
5456     ECTQ.S1SQQ112  2020.09         NaN           Y       C  Dollars
5457     ECTQ.S1SQQ112  2020.12         NaN           Y       C  Dollars
5458     ECTQ.S1SQQ112  2021.03         NaN           Y       C  Dollars

             6                                              7   \
0     Magnitude                                        Subject
1             6  Electronic Card Transactions (ANZSIC06) - ECT
2             6  Electronic Card Transactions (ANZSIC06) - ECT
3             6  Electronic Card Transactions (ANZSIC06) - ECT
4             6  Electronic Card Transactions (ANZSIC06) - ECT
...         ...                                            ...
5454          6  Electronic Card Transactions (ANZSIC06) - ECT
5455          6  Electronic Card Transactions (ANZSIC06) - ECT
5456          6  Electronic Card Transactions (ANZSIC06) - ECT
5457          6  Electronic Card Transactions (ANZSIC06) - ECT
5458          6  Electronic Card Transactions (ANZSIC06) - ECT

                                                     8                    9   \
0                                                 Group       Series_title_1
1     Private - Values - Electronic card transaction...               Actual
2     Private - Values - Electronic card transaction...               Actual
3     Private - Values - Electronic card transaction...               Actual
4     Private - Values - Electronic card transaction...               Actual
...                                                 ...                  ...
5454  Private - Values - Electronic card transaction...  Seasonally adjusted
5455  Private - Values - Electronic card transaction...  Seasonally adjusted
5456  Private - Values - Electronic card transaction...  Seasonally adjusted
5457  Private - Values - Electronic card transaction...  Seasonally adjusted
5458  Private - Values - Electronic card transaction...  Seasonally adjusted

                                          10              11              12  \
0                             Series_title_2  Series_title_3  Series_title_4
1             Supermarket and grocery stores             NaN             NaN
2             Supermarket and grocery stores             NaN             NaN
3             Supermarket and grocery stores             NaN             NaN
4             Supermarket and grocery stores             NaN             NaN
...                                      ...             ...             ...
5454  Medical and Other Health Care Services             NaN             NaN
5455  Medical and Other Health Care Services             NaN             NaN
5456  Medical and Other Health Care Services             NaN             NaN
5457  Medical and Other Health Care Services             NaN             NaN
5458  Medical and Other Health Care Services             NaN             NaN

                  13
0     Series_title_5
1                NaN
2                NaN
3                NaN
4                NaN
...              ...
5454             NaN
5455             NaN
5456             NaN
5457             NaN
5458             NaN

[5459 rows x 14 columns]

In [7]:
## Read Table Function
df3 = pd.read_csv("electronic-card-transactions-april-2021-csv-tables-lower-level.csv",sep =',',header = None)
print(df3)

                    0        1           2           3       4        5   \
0     Series_reference   Period  Data_value  Suppressed  STATUS    UNITS
1        ECTM.S1AG1210  2007.01       887.3         NaN       F  Dollars
2        ECTM.S1AG1210  2007.02       843.9         NaN       F  Dollars
3        ECTM.S1AG1210  2007.03       925.1         NaN       F  Dollars
4        ECTM.S1AG1210  2007.04         880         NaN       F  Dollars
...                ...      ...         ...         ...     ...      ...
5454     ECTQ.S1SQQ112  2020.03         NaN           Y       C  Dollars
5455     ECTQ.S1SQQ112  2020.06         NaN           Y       C  Dollars
5456     ECTQ.S1SQQ112  2020.09         NaN           Y       C  Dollars
5457     ECTQ.S1SQQ112  2020.12         NaN           Y       C  Dollars
5458     ECTQ.S1SQQ112  2021.03         NaN           Y       C  Dollars

             6                                              7   \
0     Magnitude                                        Subject
1             6  Electronic Card Transactions (ANZSIC06) - ECT
2             6  Electronic Card Transactions (ANZSIC06) - ECT
3             6  Electronic Card Transactions (ANZSIC06) - ECT
4             6  Electronic Card Transactions (ANZSIC06) - ECT
...         ...                                            ...
5454          6  Electronic Card Transactions (ANZSIC06) - ECT
5455          6  Electronic Card Transactions (ANZSIC06) - ECT
5456          6  Electronic Card Transactions (ANZSIC06) - ECT
5457          6  Electronic Card Transactions (ANZSIC06) - ECT
5458          6  Electronic Card Transactions (ANZSIC06) - ECT

                                                     8                    9   \
0                                                 Group       Series_title_1
1     Private - Values - Electronic card transaction...               Actual
2     Private - Values - Electronic card transaction...               Actual
3     Private - Values - Electronic card transaction...               Actual
4     Private - Values - Electronic card transaction...               Actual
...                                                 ...                  ...
5454  Private - Values - Electronic card transaction...  Seasonally adjusted
5455  Private - Values - Electronic card transaction...  Seasonally adjusted
5456  Private - Values - Electronic card transaction...  Seasonally adjusted
5457  Private - Values - Electronic card transaction...  Seasonally adjusted
5458  Private - Values - Electronic card transaction...  Seasonally adjusted

                                          10              11              12  \
0                             Series_title_2  Series_title_3  Series_title_4
1             Supermarket and grocery stores             NaN             NaN
2             Supermarket and grocery stores             NaN             NaN
3             Supermarket and grocery stores             NaN             NaN
4             Supermarket and grocery stores             NaN             NaN
...                                      ...             ...             ...
5454  Medical and Other Health Care Services             NaN             NaN
5455  Medical and Other Health Care Services             NaN             NaN
5456  Medical and Other Health Care Services             NaN             NaN
5457  Medical and Other Health Care Services             NaN             NaN
5458  Medical and Other Health Care Services             NaN             NaN

                  13
0     Series_title_5
1                NaN
2                NaN
3                NaN
4                NaN
...              ...
5454             NaN
5455             NaN
5456             NaN
5457             NaN
5458             NaN

[5459 rows x 14 columns]

In [8]:
df4 = pd.read_csv("electronic-card-transactions-april-2021-csv-tables-lower-level.csv",nrows = 3 ,header = None)
print(df4)

                 0        1           2           3       4        5   \
0  Series_reference   Period  Data_value  Suppressed  STATUS    UNITS
1     ECTM.S1AG1210  2007.01       887.3         NaN       F  Dollars
2     ECTM.S1AG1210  2007.02       843.9         NaN       F  Dollars

          6                                              7   \
0  Magnitude                                        Subject
1          6  Electronic Card Transactions (ANZSIC06) - ECT
2          6  Electronic Card Transactions (ANZSIC06) - ECT

                                                  8               9   \
0                                              Group  Series_title_1
1  Private - Values - Electronic card transaction...          Actual
2  Private - Values - Electronic card transaction...          Actual

                               10              11              12  \
0                  Series_title_2  Series_title_3  Series_title_4
1  Supermarket and grocery stores             NaN             NaN
2  Supermarket and grocery stores             NaN             NaN

               13
0  Series_title_5
1             NaN
2             NaN

In [9]:
# Dumping a dataframe to a CSV File
df3.to_csv('output.csv', columns = [0,1,2])

In [10]:
# Import Datas from Pandas
! pip install xlrd

Requirement already satisfied: xlrd in d:\ananconda\lib\site-packages (1.2.0)

In [11]:
! pip install openpyxl

Requirement already satisfied: openpyxl in d:\ananconda\lib\site-packages (3.0.5)
Requirement already satisfied: et-xmlfile in d:\ananconda\lib\site-packages (from openpyxl) (1.0.1)
Requirement already satisfied: jdcal in d:\ananconda\lib\site-packages (from openpyxl) (1.4.1)

In [15]:
excelfile = pd.ExcelFile('PGP required data.xlsx')
df = excelfile.parse('PGP DETAILS')

In [16]:
df

,Partner & Location,LOB,Advisor OLMS ID,Advisor name,Trainer OLMS Id,Trainer Name,Batch No/ID,PGP Start date \n(DD-MM-YY),PGP End Date\n(DD-MM-YY),Floor Repeat Score % (Previous Month),Repeat Score %,Unique Count,Defect Count,Floor Avg. CQ Score % (Previous Month)\n(Internal),Audit Count\n(Internal),Advisor Avg. CQ Score\n(Internal)
0,Chennai,DTH,A1RH293A,Lakchana,A1TJTM42,Panner Selvam Manikantan,Batch 10,2021-03-26,2021-03-31,0.308977,0.175487,296,63,0.7398,NaN,NaN
1,Chennai,DTH,A1USBUJN,Francis Jeraldina Sowmiya J,A1TJTM42,Panner Selvam Manikantan,Batch 10,2021-03-26,2021-03-31,0.308977,0.151786,285,51,0.7398,NaN,NaN
2,Chennai,DTH,A17DO6OS,Narmadha Ganaprakasam,A1TJTM42,Panner Selvam Manikantan,Batch 10,2021-03-26,2021-03-31,0.308977,0.247525,228,75,0.7398,NaN,NaN
3,Chennai,DTH,A1RBWNW4,Nandhini,A1TJTM42,Panner Selvam Manikantan,Batch 10,2021-03-26,2021-03-31,0.308977,0.253676,203,69,0.7398,NaN,NaN
4,Chennai,DTH,A1YWW7CT,Janani Mahesh,A1TJTM42,Panner Selvam Manikantan,Batch 10,2021-03-26,2021-03-31,0.308977,0.218182,215,60,0.7398,NaN,NaN
5,Chennai,DTH,A1MR0H99,Divya Bharathi,A1TJTM42,Panner Selvam Manikantan,Batch 10,2021-03-26,2021-03-31,0.308977,0.233216,217,66,0.7398,NaN,NaN
6,Chennai,DTH,A1DYNKJA,Vishali.V,A1TJTM42,Panner Selvam Manikantan,Batch 10,2021-03-26,2021-03-31,0.308977,0.231672,262,79,0.7398,NaN,NaN
7,Chennai,DTH,A1Q25BYC,Sunil Raj Subbarayan,A1TJTM42,Panner Selvam Manikantan,Batch 10,2021-03-26,2021-03-31,0.308977,0.188272,263,61,0.7398,NaN,NaN
8,Chennai,DTH,A1C5N864,T.Raj Kumar,A1TJTM42,Panner Selvam Manikantan,Batch 10,2021-03-26,2021-03-31,0.308977,0.253425,218,74,0.7398,NaN,NaN
9,Chennai,DTH,A1ZBOFL3,A.Syed Mohammed Abbubakar,A1TJTM42,Panner Selvam Manikantan,Batch 10,2021-03-26,2021-03-31,0.308977,0.250000,228,76,0.7398,NaN,NaN
10,Chennai,DTH,A1001K7G,R. Karthikeyan,A1TJTM42,Panner Selvam Manikantan,Batch 10,2021-03-26,2021-03-31,0.308977,0.243056,218,70,0.7398,NaN,NaN
11,Chennai,DTH,A10XAHG9,J.Thaiseerahamed Jabarullahkhan,A1TJTM42,Panner Selvam Manikantan,Batch 10,2021-03-26,2021-03-31,0.308977,0.214286,308,84,0.7398,NaN,NaN
12,Chennai,DTH,A1E1ZGPS,Ambirishan . L,A1TJTM42,Panner Selvam Manikantan,Batch 10,2021-03-26,2021-03-31,0.308977,0.221429,218,62,0.7398,NaN,NaN
13,Chennai,DTH,A1EF2DI3,Vikram.R,A1TJTM42,Panner Selvam Manikantan,Batch 10,2021-03-26,2021-03-31,0.308977,0.230284,244,73,0.7398,NaN,NaN
14,Chennai,DTH,A1G261YT,M.Kamesh,A1TJTM42,Panner Selvam Manikantan,Batch 10,2021-03-26,2021-03-31,0.308977,0.216981,249,69,0.7398,NaN,NaN
15,Chennai,DTH,A1ZBZFZB,Saranraj,A1TJTM42,Panner Selvam Manikantan,Batch 10,2021-03-26,2021-03-31,0.308977,0.194529,265,64,0.7398,NaN,NaN
16,Chennai,DTH,A1DZAS4U,S Naveenkumar,A1TJTM42,Panner Selvam Manikantan,Batch 10,2021-03-26,2021-03-31,0.308977,0.204082,195,50,0.7398,NaN,NaN
17,Chennai,DTH,A1CLE3D0,Arsath Rizwan.H,A1TJTM42,Panner Selvam Manikantan,Batch 10,2021-03-26,2021-03-31,0.308977,0.233716,200,61,0.7398,NaN,NaN
18,Chennai,DTH,A1AES719,Imaan Ali Farook Ali,A1TJTM42,Panner Selvam Manikantan,Batch 10,2021-03-26,2021-03-31,0.308977,0.201389,230,58,0.7398,NaN,NaN
19,Chennai,DTH,A1YLZD9O,Aakash D,A1TJTM42,Panner Selvam Manikantan,Batch 10,2021-03-26,2021-03-31,0.308977,0.210970,187,50,0.7398,NaN,NaN