In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [2]:
S1= Series([1,2,3,4],index=['a','b','c','d'])
print(S1)

a    1
b    2
c    3
d    4
dtype: int64

In [3]:
S1=S1.reindex(['a','b','c','d','e','f'])

In [5]:
print(S1)

a    1.0
b    2.0
c    3.0
d    4.0
e    NaN
f    NaN
dtype: float64

In [6]:
S1=S1.reindex(['a','b','c','d','e','f','g'],fill_value=100)
print(S1)

a      1.0
b      2.0
c      3.0
d      4.0
e      NaN
f      NaN
g    100.0
dtype: float64

In [9]:
# Reindexing the series
cars =Series(['Audi','BMW','Volvo','Honda'],index = [0,4,8,13])
print(cars)

0      Audi
4       BMW
8     Volvo
13    Honda
dtype: object

In [12]:
new_index =range(12)
cars =cars.reindex(new_index,method='ffill')
print(cars)

0      Audi
1      Audi
2      Audi
3      Audi
4       BMW
5       BMW
6       BMW
7       BMW
8     Volvo
9     Volvo
10    Volvo
11    Volvo
dtype: object

In [13]:
# Reindexing the Dataframe
df1=DataFrame(np.random.randn(25).reshape(5,5), index = ['a','b','c','d','e'],columns =['c1','c2','c3','c4','c5'])
print(df1)

         c1        c2        c3        c4        c5
a  0.660978  0.012934 -0.054033  0.514912  0.680413
b -0.008397 -0.269693 -0.312705  0.379168 -2.128412
c -2.006080  0.981643  0.050134  0.490097  0.899694
d -0.656240 -0.705783  0.396847 -0.286590  0.411779
e  0.432709 -1.029864  0.480197  1.556372 -0.928161

In [14]:
df1=df1.reindex(index=['a','b','c','d','e'], columns =['c1','c2','c3','c4','c5','c6'])
print(df1)

         c1        c2        c3        c4        c5  c6
a  0.660978  0.012934 -0.054033  0.514912  0.680413 NaN
b -0.008397 -0.269693 -0.312705  0.379168 -2.128412 NaN
c -2.006080  0.981643  0.050134  0.490097  0.899694 NaN
d -0.656240 -0.705783  0.396847 -0.286590  0.411779 NaN
e  0.432709 -1.029864  0.480197  1.556372 -0.928161 NaN