In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [2]:
Series1 =Series([100,200,300], index =['a','b','c'])
print(Series1)

a    100
b    200
c    300
dtype: int64

In [4]:
# Access elements in a Series
Series1['a']
Series1['b']

200

In [5]:
Series1['a']

100

In [7]:
Series1[['a','c']]

a    100
c    300
dtype: int64

In [8]:
# Conditional indexes
Series1[Series1>150]

b    200
c    300
dtype: int64

In [9]:
Series1[Series1>95]

a    100
b    200
c    300
dtype: int64

In [10]:
Series1[Series1==95]

Series([], dtype: int64)

In [11]:
Series1[Series1==200]

b    200
dtype: int64

In [12]:
# Accessing one or more column from data frame
df1 =DataFrame(np.arange(9).reshape(3,3) , index =['car','bike','cycle'], columns =['c1','c2','c3'])
print(df1)

       c1  c2  c3
car     0   1   2
bike    3   4   5
cycle   6   7   8

In [13]:
df1['c3']

car      2
bike     5
cycle    8
Name: c3, dtype: int32

In [14]:
# Boolean operation in a dataframe
df1 >5

          c1     c2     c3
car    False  False  False
bike   False  False  False
cycle   True   True   True

In [15]:
# Using dataframe .loc attribute 
df1.loc['car']

c1    0
c2    1
c3    2
Name: car, dtype: int32

In [16]:
df1.loc['car','c1']

0